<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Category</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      media="screen"
      href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="/create" method="POST">
            <fieldset>
                <legend >Thêm mới danh mục:</legend>
            <div class="form-group">
              <label for="Name">Name :</label>
              <input
                type="text"
                class="form-control"
                name="Name"
              />
            </div>
            <div class="form-group">
              <label for="Url">Url :</label>
              <input
                type="text"
                class="form-control"
                name="Url"
              />
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="Status">Hoạt động</label>
            </div>
            
            <button type="submit" class="btn btn-success">Thêm mới</button>
            <button type="reset" class="btn btn-info">Làm mới</button>
            <fieldset>
          </form>
        </div>
        <div class="col-md-6">
          <h3>List Category</h3>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0;i< dataCate.length;i++){ %>
              <tr>
                <td><%= dataCate[i].Id %></td>
                <td><%= dataCate[i].Name %></td>
                <td><%= dataCate[i].Url %></td>
                <td><%= dataCate[i].Status?"Ẩn":"Hiện" %></td>
                <td>
                  <a
                    href="/detail/category/<%= dataCate[i].Id %>"
                    class="btn btn-xs btn-success"
                    >Detail</a
                  >
                  <a href="" class="btn btn-xs btn-info">Update</a>
                  <form method="post" action="/deleteCate">
                    <!-- <a href="" class="btn btn-xs btn-warning">Delete</a> -->
                    <input type="text" hidden value="<%= dataCate[i].Id %>" name="Id" />
                    <button type="submit" class="btn btn-xs btn-warning" onclick="return confirm('Bạc có chắc chắn muốn xóa?')" ><i class="fa-solid fa-trash"></i
                      ></button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
